//- yeh base.pug ek form ki tarah smajh skte hai, jisme hm alag alag inputs de skte hai
doctype html
html
    head
        title Harry Dance Academy
        block scripts
        block style
    body
        nav#navbar.top
            ul
                div#logo
                    img(src="../static/icon1.jpg")
                li
                    a(href="/home") Home
                li
                    a(href="/About") About 
                li
                    a(href="/Services") Services 
                li
                    a(href="/Class Info") Class Info
                li
                    a(href="/contact") Contact Us
        block content
        footer#footer
            |   copyright © 2022 VermajiDanceAcademy.com