doctype html 
html 
    head 
        title just for practice
        block styling
    body    
        h1 THIS IS FOR THE MAKING OF THE MANKIND
        div#navbar 
            ul
                li  
                    a(href="/home1.pug") Home
                li  
                    a(href="/contact1.pug") Contact
                li  
                    a(href="/services1.pug") Services
        
        block contenting
        block scripting
        
        div#footer
            div Copyright@VERMAJI   ALL RIGHTS RESERVED
                