doctype html 
html 
    head 
        title   This is just a practice
        style   
            include ../static/style1.css

    body 
        h1 This is a first thing that needs to be printed
        h2 This is a second thing that needs to be printed
        h3 This is a third thing that needs to be printed
        h4 This is a fourth thing that needs to be printed
        h5 This is a fifth thing that needs to be printed
        div#time
        script 
            include ../static/index1.js